@font-face {
    font-family: Gilroy;
    src: url(https://www.hbomax.com/static/wef/fonts/Gilroy-Regular.woff2) format("woff2"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Regular.woff) format("woff"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Regular.ttf) format("truetype"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Regular.eot#iefix) format("embedded-opentype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Gilroy;
    src: url(https://www.hbomax.com/static/wef/fonts/Gilroy-Medium.woff2) format("woff2"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Medium.woff) format("woff"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Medium.ttf) format("truetype"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Medium.eot#iefix) format("embedded-opentype");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Gilroy;
    src: url(https://www.hbomax.com/static/wef/fonts/Gilroy-Bold.woff2) format("woff2"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Bold.woff) format("woff"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Bold.ttf) format("truetype"), url(https://www.hbomax.com/static/wef/fonts/Gilroy-Bold.eot#iefix) format("embedded-opentype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: glyph;
    src: url(https://www.hbomax.com/static/wef/fonts/hbomax-glyph.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}

* {
    box-sizing: border-box
}

body {
    background-image: url(img/bg-gradient.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: block;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-family: "Gilroy", sans-serif;

}

a {
    text-decoration: none;
}

header {
    display: block;
}

.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 2px;
    background-color: rgba(0, 0, 0, .4);
}


header img {
    width: 120px;
    height: 37px;
}

.entrar {
    position: absolute;
    right: 12px;
    top: 7.5px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 8px 0 24px;
    margin-left: 4px;
    color: #bac7ff;
    cursor: pointer;
    text-decoration: none;

}

.plano {
    background: rgba(26, 26, 26, .5);
    border-radius: 8px;
    padding: 15px 24px;
    margin-top: 28px;
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: center;


}

.total {
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    display: flex;
}

.escolha {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.multi {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
    color: #f0f0f0;

}

.valor34 {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    display: flex;
    text-align: right;
    color: #f0f0f0;
    font-weight: 400;
    margin-left: 365px;
}
.valor74 {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    display: flex;
    text-align: right;
    color: #f0f0f0;
    font-weight: 400;
    margin-left: 335px;
}
.valor239 {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    display: flex;
    text-align: right;
    color: #f0f0f0;
    font-weight: 400;
    margin-left: 320px;
}

.alterar {
    width: 22px;
    float: right;
    margin-left: 20px;
    position: relative;
    display: flex;
}
.alterarico{
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    position: relative;
   width: 20px;
   height: 20px;
}

.corpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    max-width: 650px;
    min-width: 280px;
    margin: 0 auto;
}

.passo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #f0f0f0;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    color: #f0f0f0;
}

.aproveite {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 16px 0;
    margin-top: -18px;
    margin-bottom: 17px;
    color: #f0f0f0;
}

form {
    padding-top: 25px;
    position: relative;
    width: 100%;
    scroll-behavior: smooth;
}

.dados {
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

.nome2,
.nome1 {
    width: calc(50% - 16px);
}

.nome1,
.nome2,
.email,
.senha {
    background-color: transparent;
    position: relative;
    height: 39px;
    margin: 0 0 42px;
    color: #c8c8c8;
    font-size: 18px;
    text-align: left;
    border-bottom: 2px solid #999999;
}

input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    -webkit-text-fill-color: #ffffff;
    position: absolute;
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    left: 0;
    bottom: 0;
    outline: none;
    height: 100%;
    caret-color: #ffffff;
    font-family: "Gilroy";
    font-size: 18px;
}
.icopass{
    display: flex;
    margin-top: -20px;
    margin-left: 625px;
    font-size: 16px;
    font-weight: 600;
    opacity: .5;
}

.peq {
    color: #c8c8c8;
    font-size: 12px;
    min-height: 16px;
    text-align: left;
    display: flex;
    margin-top: -38px;
    margin-bottom: 40px;
}

.politica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(110.24deg, hsla(0, 0%, 100%, .076) 36.53%, hsla(0, 0%, 100%, .17));
    border-radius: 8px;
}

.frase1 {
    padding: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #f0f0f0;
    margin: 0;

}

a {
    color: #bac7ff;
}

.button {
    display: flex;
    padding: 25px 24px 5px;
    justify-content: center;
    text-align: center;
}
.frase2{
    padding: 16px 0 20px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #f0f0f0;
    margin: 0;
}
.alterarplano{
    margin-top: 5px;
    margin-left: 5px;
}
.btn-link{
    text-decoration: none;
    color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
button {
    box-shadow: 0 5px 12px rgba(0, 0, 0, .2);
    border-radius: 2em;
    color: #ffffff;
    letter-spacing: 1.2px;
    line-height: 0px;
    font-size: 15px;
    font-weight: 700;
    height: 52px;
    padding: 0 45px;
    min-width: 315px;
    position: relative;
    background: #7b2abf;
    border: 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    vertical-align: top;
    transition-property: color, border-color, background-color;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
}

button:hover {
    border: 2px solid #9a35ef;
    background: #9a35ef;
    outline-offset: 2px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(3, 3, 40, .8);
    width: 100%;
    padding: 12px;
    padding-top: 5px;


}

ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.linkfooter {
    display: inline-block;
    white-space: nowrap;
    line-height: 24px;
    padding: 10px 12px;
    color: #9e86ff;

}

li {
    list-style-type: none;
    letter-spacing: .25px;
    font-size: 16px;

}

.pe {

    text-decoration: none;

}

.liport {
    display: flex;
    font-size: 13px;
}

.portico {
    margin-top: 17px;
    margin-left: 10px;
}